# Dependencies
node_modules
npm-debug.log*

# Next.js build outputs
.next/
out/

# Environment variables
.env*.local

# Testing
coverage/
.nyc_output

# Development
.git
.gitignore
README.md
.DS_Store
*.tgz
*.tar.gz

# Editor
.vscode
.idea

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Docker
Dockerfile
docker-compose.yml
.dockerignore