# PORT
PORT=3000

# API
API_URL="http://localhost:3000"

# Socket.IO
SOCKET_URL="http://localhost:3000"
SOCKET_PATH="/ws"

# SSE
DESKTOP_SSE_SUBSCRIPTION_ID="484fb753-b9f8-4bb2-9256-17ef87ac069e" # Have to be an UUID
MOBILE_SSE_SUBSCRIPTION_ID="e3a3ff1d-56df-414c-8514-16d87e516f96" # Have to be an UUID