name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      # Build all packages except mobile-app (requires macOS)
      - name: Build
        run: npx turbo run build --filter=!mobile-app

  build-mobile:
    name: Build Mobile (iOS)
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      - name: Build iOS
        uses: ./.github/actions/build-eas
        with:
          expo-token: ${{ secrets.EXPO_TOKEN }}
          working-directory: apps/mobile-app
          platform: ios
          profile: development
          vault-url: ${{ vars.OPENBAO_URL }}
          vault-token: ${{ secrets.OPENBAO_TOKEN }}
