name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-yarn

      - name: Build
        run: yarn build
