name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      # Make EXPO_TOKEN available to all steps and child processes
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      - name: Build
        run: EXPO_TOKEN=$EXPO_TOKEN npx --yes --package eas-cli eas build --platform ios --profile development --non-interactive --local
