name: Publish Apps

on:
  push:
    branches:
      - main

jobs:
  # detect-changes:
  #   name: Detect Changes
  #   runs-on: ubuntu-latest
  #   outputs:
  #     changed-apps: ${{ steps.detect.outputs.changed-apps }}
  #     docker-apps: ${{ steps.detect.outputs.docker-apps }}
  #     eas-apps: ${{ steps.detect.outputs.eas-apps }}
  #
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: ${{ inputs.fetch-depth }}
  #
  #     - name: Setup
  #       uses: ./.github/actions/setup-npm
  #       with:
  #         fetch-depth: "2"
  #
  #     - name: Detect changes
  #       id: detect
  #       uses: ./.github/actions/detect-changes
  #       with:
  #         turbo-filter: "...[HEAD^]"

  build-docker:
    name: Build Docker - ${{ matrix.app }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        app: ["cqrs-server", "web-platform"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      - name: Build and push Docker image
        uses: ./.github/actions/build-docker
        with:
          app: ${{ matrix.app }}
          registry: ${{ vars.DOCKER_REGISTRY_URL }}
          docker-username: ${{ vars.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}

  build-eas:
    name: Build EAS - ${{ matrix.app }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        app: ["mobile-app"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      - name: Build and submit mobile app
        uses: ./.github/actions/build-eas
        with:
          expo-token: ${{ secrets.EXPO_TOKEN }}
          working-directory: ./apps/${{ matrix.app }}
          platform: ios
          profile: production
          auto-submit: "true"
          vault-url: ${{ vars.OPENBAO_URL }}
          vault-token: ${{ secrets.OPENBAO_TOKEN }}


