name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - name: Setup
        uses: ./.github/actions/setup-npm

      - name: Test
        run: npm run test
