name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        uses: ./.github/actions/setup-yarn

      - name: Test
        run: yarn test
