name: Type Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop

jobs:
  typecheck:
    name: Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        uses: ./.github/actions/setup-yarn

      - name: Type Check
        run: yarn check-types
